/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


header {
    background-color: #4617FE;
    padding: 0px 50px;
    padding-top: 30px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo {
    flex: 1;
}

.nav-items {
    color: #FFFFFF;

    display: flex;
    justify-content: flex-end;
    padding-right: 7%;
    gap: 40px
}

.nav-item-active {
    background-color: #FFFFFF;
    color: #4617FE;
    padding: 1px 13px;
    border-radius: 2px;
}

.main {
    display: flex;
}

.header-text {
    flex: 1;
    align-self: center;
}

.header-text h2 {
    font-size: 50px;
    color: #FFFFFF;
}

.header-text p {
    font-size: 20px;
    color: #FFFFFF;
}

.header-image {
    flex: 1;
    width: 550px;
    position: relative;
    top: 50px;
    left: 105px;
}